.text{
  font-family: 'Arial Black', sans-serif;
  cursor: pointer;
}


li{
  font-family: 'Arial Black', sans-serif;

}

.move{

  padding-left: 1170px;
}

.text:hover{
  color: #2f31d4;
}


.text2:hover{
  color: #ff0000;
  cursor: pointer;

}

.navbar-nav .nav-item .nav-link.active {
  color: #3d92ec;
}


.navbar-nav .nav-item .nav-link:hover {
  color: #1c7be0;
}
