
<app-navbar></app-navbar>
<div class="container d-flex flex-column justify-content-center align-items-center text-center  pop-animation">
  <h1 class="text">
    Bienvenido a <span class="text-primary">Notify</span>
  </h1>
  <p>Organiza tu trabajo</p>
</div>


<div class="container text-center pop-animation">
  <div class="row align-items-center">
    <div class="col-md-6 img-container pop-animation pendulum-animation">
      <img src="descarga.png" width="50%" class="img-fluid" alt="Imagen de Notify">
    </div>
    <div class="col-md-6 ">
      <strong class="text">¿Qué es  <span class="text-primary">Notify</span>?</strong>
      <p>
        Organiza tus ideas y no dejes que nada se te escape. 📝✨
        Desde recordatorios importantes hasta proyectos personales, Notify es el lugar perfecto para anotar todo lo que necesitas y mantenerte siempre al día.
      </p>
    </div>
  </div>
</div>

<div class="container text-center pop-animation mt-4">
  <div class="row">
    <div class="col-md-6">
      <strong class="text">¿Para que es <span class="text-primary">Notify</span>?</strong>
      <ul class="list-unstyled">
        <li>✅ Crear notas ilimitadas</li>
        <li>✅ Organizar tus tareas</li>
        <li>✅ Colaborar con otros</li>
        <li>✅ Recibir recordatorios</li>
        <li>✅ Acceder desde cualquier dispositivo</li>
      </ul>
    </div>

    <div class="col-md-6">
      <strong class="text">¿Para que es <span class="text-primary">Notify</span>?</strong>
      <ul class="list-unstyled">
        <li>💡 Interfaz intuitiva</li>
        <li>🔒 Seguridad y privacidad</li>
        <li>🎉 100% gratis</li>
      </ul>
    </div>
  </div>
</div>

<div class="container text-center mt-5 pop-animation ">
  <h1 class="text">Empieza ya, sincroniza tu agenda con <span class="text-primary">Notify</span></h1>
  <button class="btn btn-outline-primary w-50 mt-3 " [routerLink]="['/tareas']">Empieza a anotar</button>
</div>

<app-footer></app-footer>
