
<app-navbar></app-navbar>
<div class="container text-center mt-5 pop-animation">
  <div class="row">
    <h1 class="col-12 text ">
      Bienvenido a <span class="text-primary">Notify</span>
    </h1>
    <p class="col-12 ">Organiza tu trabajo</p>
  </div>
</div>


<div class="container text-center pop-animation">
  <div class="row align-items-center">
    <div class="col-md-6 img-container pop-animation pendulum-animation">
      <img src="descarga.png" class="img-fluid" alt="Imagen de Notify">
    </div>
    <div class="col-md-6 ">
      <strong class="text">¿Qué es  <span class="text-primary">Notify</span>?</strong>
      <p>
        Puedes hacer notas, derrocar a Maduro, <br> dominar al mundo y muchas cosas más,<br>
        Notify es tu lugar para anotar <br> todo lo que te plazca.
      </p>
    </div>
  </div>
</div>

<div class="container text-center pop-animation mt-4">
  <div class="row">
    <div class="col-md-6">
      <strong class="text">¿Para que es <span class="text-primary">Notify</span>?</strong>
      <ul class="list-unstyled">
        <li>✅ Crear notas ilimitadas</li>
        <li>✅ Organizar tus tareas</li>
        <li>✅ Colaborar con otros</li>
        <li>✅ Recibir recordatorios</li>
        <li>✅ Acceder desde cualquier dispositivo</li>
      </ul>
    </div>  

    <div class="col-md-6">
      <strong class="text">¿Para que es <span class="text-primary">Notify</span>?</strong>
      <ul class="list-unstyled">
        <li>💡 Interfaz intuitiva</li>
        <li>🔒 Seguridad y privacidad</li>
        <li>🎉 100% gratis</li>
      </ul>
    </div>
  </div>
</div>

<div class="container text-center mt-5 pop-animation ">
  <h1 class="text">Empieza ya, sincroniza tu agenda con <span class="text-primary">Notify</span></h1>
  <button class="btn btn-outline-primary w-50 mt-3 " [routerLink]="['/tareas']">Empieza a anotar</button>
</div>

<app-footer></app-footer>
